<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://senh93-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://senh93-001-site1.smarterasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>senh93-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\senh93-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.UsersContext, StudentRanking" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.ExamContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.ExamContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.FacultyContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.FacultyContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.FormulaContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.FormulaContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.PreferenceContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.PreferenceContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.ProgrammeRulesContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.ProgrammeRulesContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentRanking.Models.StudentContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudentRanking.Models.StudentContext, StudentRanking" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.ExamContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.FacultyContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.FormulaContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.PreferenceContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.ProgrammeRulesContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudentRanking.Models.StudentContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="StudentRanking.Models.ExamContext" />
    <_ConnectionStringsToInsert Include="StudentRanking.Models.FacultyContext" />
    <_ConnectionStringsToInsert Include="StudentRanking.Models.FormulaContext" />
    <_ConnectionStringsToInsert Include="StudentRanking.Models.PreferenceContext" />
    <_ConnectionStringsToInsert Include="StudentRanking.Models.ProgrammeRulesContext" />
    <_ConnectionStringsToInsert Include="StudentRanking.Models.StudentContext" />
  </ItemGroup>
</Project>